.Image_with-caption__gyvkI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.Image_with-caption__gyvkI>div {
    width: 100%
}

.Image_cover__g9RBY,.Image_cover__g9RBY>div {
    width: 100%;
    height: 100%
}

.Image_cover__g9RBY>div>div {
    height: 100%;
    padding-bottom: 0!important
}

.Controls_overlay__EsN6k {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer
}

.Controls_overlayPlayPause__a_K1l {
    flex-grow: 1;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer
}

.Controls_overlayPlayPause__a_K1l svg {
    width: clamp(2.625rem,7%,5rem);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2)
}

.Video_wrapper__sk8Di {
    text-align: center
}

.Video_container__wrWQb {
    position: relative
}

.Video_video__Co_G0 {
    width: 100%
}

.HeroHome_hero__4OgVT {
    height: 100vh;
    position: relative;
    overflow: hidden
}

.HeroHome_video__iAHqQ {
    transform: scale(1);
    transform-origin: top center;
    transition: transform .6s var(--transition-timing)
}

.HeroHome_video__iAHqQ:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5)
}

.HeroHome_out__DmI46 .HeroHome_video__iAHqQ {
    transform: scale(.85)
}

.HeroHome_video__iAHqQ video {
    height: 100vh;
    object-fit: cover
}

.HeroHome_content__1N1En {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.HeroHome_content__1N1En>div {
    text-align: center;
    margin: auto calc(var(--gutter)*2.5)
}

.HeroHome_content__1N1En>div h1 {
    max-width: 800px;
    margin: 0 auto
}

.HeroHome_logos__rtyf8 {
    display: flex;
    margin: 0 auto 2rem;
    gap: 3rem;
    align-items: center;
    opacity: 1;
    transition: opacity .6s ease
}

@media(max-width: 48em) {
    .HeroHome_logos__rtyf8 {
        display:none
    }
}

.HeroHome_out__DmI46 .HeroHome_logos__rtyf8 {
    opacity: 0
}

@media(max-width: 48em) {
    .HeroHome_logos__rtyf8 {
        gap:2rem;
        flex-direction: column
    }
}

.HeroHome_logos__rtyf8 li {
    width: 8rem
}

.HeroHome_vl__6AWwr {
    width: 1px;
    background: #fff;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
    bottom: 4.25rem;
    overflow: hidden;
    transform-origin: center top;
    transition: transform .6s var(--transition-timing)
}

.HeroHome_out__DmI46 .HeroHome_vl__6AWwr {
    transform: translateX(-50%) scale(0)
}

@media(max-width: 48em) {
    .HeroHome_vl__6AWwr {
        height:60px
    }
}

.HeroHome_announcement__5yYC9 {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    margin-top: 4rem;
    grid-auto-rows: min-content
}

@media(max-width: 48em) {
    .HeroHome_announcement__5yYC9 {
        grid-template-columns:repeat(12,1fr);
        margin-top: 2rem;
        grid-auto-rows: min-content
    }
}

.HeroHome_tagline__knYdL {
    grid-column: 2
}

@media(max-width: 48em) {
    .HeroHome_tagline__knYdL {
        grid-column:1/-1
    }
}

.HeroHome_message__1VRR0 {
    grid-column: 2;
    margin-top: .5rem;
    margin-bottom: 1.5rem
}

@media(max-width: 48em) {
    .HeroHome_message__1VRR0 {
        grid-column:1/-1;
        margin-bottom: .5rem
    }
}

.HeroHome_link__iiDNg {
    grid-column: 2;
    border: 5px solid transparent;
    background-color: var(--mint);
    padding: 12px 20px;
    margin: auto
}

@media(max-width: 48em) {
    .HeroHome_link__iiDNg {
        grid-column:1/-1;
        margin: auto
    }
}

.HeroHome_label__nm1f3 {
    color: var(--navy)
}

.Button_btn___t8GZ {
    cursor: pointer;
    background-color: transparent;
    padding: .5rem 1rem;
    --color: var(--navy);
    --hover-color: var(--navy80);
    border: 1px solid var(--color);
    color: var(--color)
}

.Button_btn___t8GZ:focus {
    text-decoration: underline;
    text-underline-offset: 3px
}

.Button_btn___t8GZ:hover {
    color: var(--hover-color);
    border-color: var(--hover-color)
}

.Button_btn___t8GZ.Button_dark__lSd8V {
    background-color: var(--navy);
    color: var(--white)
}

.Button_btn___t8GZ.Button_dark__lSd8V:hover {
    background-color: var(--navy80);
    color: var(--white)
}

.dark .Button_btn___t8GZ {
    --color: var(--white);
    --hover-color: var(--white)
}

.Newsletter_container__27hc_ {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-row-gap: var(--section-padding);
    row-gap: var(--section-padding)
}

@media(max-width: 48em) {
    .Newsletter_container__27hc_ {
        row-gap:0
    }
}

.Newsletter_container__27hc_ .Newsletter_title__e0TtH {
    grid-column: span 7;
    grid-row: 1
}

@media(max-width: 48em) {
    .Newsletter_container__27hc_ .Newsletter_title__e0TtH {
        grid-column:span 12
    }
}

.Newsletter_container__27hc_ .newsletterform {
    grid-column: span 7/-1;
    grid-row: 2
}

@media(max-width: 48em) {
    .Newsletter_container__27hc_ .newsletterform {
        margin-top:1.5rem;
        grid-column: span 12
    }
}

.Newsletter_container__27hc_ .newsletterform>div {
    display: flex;
    align-items: flex-end
}

.Newsletter_container__27hc_ .newslettererror {
    margin-top: 1rem
}

.Newsletter_container__27hc_ .Newsletter_caption__vR2sl {
    margin-top: 2rem;
    max-width: 80%;
    color: var(--navy80)
}

.Newsletter_container__27hc_ .newsletterinput input,.Newsletter_container__27hc_ .newslettersubmit {
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid var(--navy);
    border-radius: 0
}

.Newsletter_container__27hc_ .newsletterinput textarea,.Newsletter_container__27hc_ .newslettersubmit {
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid var(--navy);
    border-radius: 0
}

.Newsletter_container__27hc_ .newsletterinput {
    display: flex;
    flex-grow: 1
}

.Newsletter_container__27hc_ .newsletterinput input {
    flex-grow: 1;
    background-color: inherit;
    padding-left: var(--sp2)
}

.Newsletter_container__27hc_ .newsletterinput textarea {
    flex-grow: 1;
    background-color: inherit;
    padding-left: var(--sp2)
}

.Newsletter_container__27hc_ .newsletterinput input::placeholder {
    color: var(--navy60);
    opacity: 1
}

.Newsletter_container__27hc_ .newsletterinput textarea::placeholder {
    color: var(--navy60);
    opacity: 1
}


.Newsletter_container__27hc_ .newslettersubmit {
    padding: 1rem;
    white-space: nowrap
}

.Highlight_wrapper__G9VnJ {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: ". content ."
}

@media(max-width: 80em) {
    .Highlight_wrapper__G9VnJ {
        grid-template-columns:1fr 10fr 1fr
    }
}

@media(max-width: 48em) {
    .Highlight_wrapper__G9VnJ {
        grid-template-columns:1fr;
        grid-template-areas: "content"
    }
}

.Highlight_content__uhUcF {
    background-color: var(--white);
    grid-area: content;
    padding: var(--section-padding) var(--gutter);
    margin-top: calc(var(--section-padding)*-1);
    text-align: center;
    z-index: 0
}

.Highlight_content__uhUcF *+* {
    margin-top: var(--sp6)
}

.Highlight_description__p6mvS {
    color: var(--navy80)
}

.TeamSpotlight_container__46l5q {
    display: grid;
    align-items: center
}

.TeamSpotlight_container__46l5q>* {
    grid-column: 1;
    grid-row: 1
}

.TeamSpotlight_background__wwEq_:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--black);
    opacity: .3;
    z-index: 1
}

@media(max-width: 48em) {
    .TeamSpotlight_background__wwEq_ {
        grid-row:2
    }

    .TeamSpotlight_background__wwEq_:after {
        display: none
    }
}

.TeamSpotlight_text-wrapper__tZ_sH {
    z-index: 0
}

.TeamSpotlight_text-container__OEexS {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: ". content ."
}

@media(max-width: 80em) {
    .TeamSpotlight_text-container__OEexS {
        grid-template-columns:1fr 10fr 1fr
    }
}

@media(max-width: 48em) {
    .TeamSpotlight_text-container__OEexS {
        grid-template-columns:1fr;
        grid-template-areas: "content"
    }
}

.TeamSpotlight_text__MmRgI {
    grid-area: content;
    background: var(--navy);
    padding: var(--gutter)
}

@media(max-width: 48em) {
    .TeamSpotlight_text__MmRgI {
        padding:var(--section-padding) 0
    }
}

.TeamSpotlight_text__MmRgI *+* {
    margin-top: var(--sp6)
}

.TeamSpotlight_text__MmRgI a {
    justify-self: start
}

.TeamSpotlight_description__zEKGe {
    grid-column: 1/-1;
    color: var(--navy20)
}

.HomeHighlight_wrapper__rFjZU {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: ". content ."
}

@media(max-width: 48em) {
    .HomeHighlight_wrapper__rFjZU {
        grid-template-columns:12fr;
        grid-template-areas: "content"
    }
}

.HomeHighlight_content__4uSHW {
    grid-area: content
}

.ScrollEffect_item__4tNdj {
    top: var(--scroll-effect-spacing,8rem);
    transform-origin: center top;
    position: -webkit-sticky;
    position: sticky;
    transform: scale(var(--se-scale)) translateY(calc(var(--se-next) * var(--se-after) * -4rem));
    opacity: calc((var(--se-scale) + var(--se-after))/2)
}

.ScrollEffect_item__4tNdj+.ScrollEffect_item__4tNdj {
    margin-top: var(--scroll-effect-spacing,8rem)
}

@media(max-width: 80em) {
    .ScrollEffect_item__4tNdj {
        transform:none;
        position: static
    }
}

.FeaturedCompanies_container__ADNbl {
    display: flex;
    flex-direction: column;
    align-items: center
}

.FeaturedCompanies_explore-all___fcEr {
    margin-top: var(--section-padding)
}

.FeaturedCompanies_list__0BdWV {
    padding-top: 6rem
}

@media(max-width: 80em) {
    .FeaturedCompanies_list__0BdWV {
        --scroll-effect-spacing:var(--section-padding)
    }
}

.FeaturedCompanies_company__vmzme {
    display: grid;
    grid-template-columns: 3fr 1fr 8fr;
    grid-template-areas: "content . asset";
    align-items: center
}

.FeaturedCompanies_company__vmzme.FeaturedCompanies_rtl__3sixI {
    grid-template-columns: 8fr 1fr 3fr;
    grid-template-areas: "asset . content"
}

@media(max-width: 80em) {
    .FeaturedCompanies_company__vmzme {
        grid-template-columns:4fr 1fr 7fr;
        grid-template-areas: "content . asset"
    }

    .FeaturedCompanies_company__vmzme.FeaturedCompanies_rtl__3sixI {
        grid-template-columns: 7fr 1fr 4fr;
        grid-template-areas: "asset . content"
    }
}

@media(max-width: 48em) {
    .FeaturedCompanies_company__vmzme,.FeaturedCompanies_company__vmzme.FeaturedCompanies_rtl__3sixI {
        grid-template-columns:1fr;
        grid-template-areas: "asset" "content"
    }

    .FeaturedCompanies_company__vmzme .FeaturedCompanies_content__P9lxO {
        margin-top: var(--sp5)
    }
}

.FeaturedCompanies_content__P9lxO {
    grid-area: content;
    transition: opacity .4s ease
}

.FeaturedCompanies_text__a3jy7 {
    margin-top: var(--sp4);
    background: var(--navy)
}

.FeaturedCompanies_text__a3jy7 p {
    color: var(--navy40);
    margin-top: var(--sp3)
}

.FeaturedCompanies_founder-image__NqPrz {
    width: 33.3333333333%
}

.FeaturedCompanies_founder-image__NqPrz img {
    -webkit-clip-path: circle();
    clip-path: circle()
}

@media(max-width: 80em) {
    .FeaturedCompanies_founder-image__NqPrz {
        display:none
    }
}

.FeaturedCompanies_logo-image__zmGCF {
    width: 40%;
    margin-top: var(--sp4)
}

@media(max-width: 80em) {
    .FeaturedCompanies_logo-image__zmGCF {
        margin-top:0;
        min-width: 100px
    }
}

@media(max-width: 48em) {
    .FeaturedCompanies_logo-image__zmGCF {
        width:100px
    }
}

.FeaturedCompanies_logo-image__zmGCF.FeaturedCompanies_noMarginTop__Eo9vN {
    margin-top: 0
}

.FeaturedCompanies_link__bVT3a {
    margin-top: var(--sp4)
}

@media(max-width: 48em) {
    .FeaturedCompanies_link__bVT3a {
        margin-bottom:var(--sp4)
    }
}

.exiting .FeaturedCompanies_content__P9lxO {
    opacity: 0
}

@media(max-width: 80em) {
    .exiting .FeaturedCompanies_content__P9lxO {
        opacity:1
    }
}

.exiting .FeaturedCompanies_asset__pkwLU {
    opacity: .5
}

.FeaturedCompanies_asset__pkwLU {
    grid-area: asset;
    overflow: hidden;
    transition: opacity .6s var(--transition-timing);
    background: var(--navy80)
}

.exited .FeaturedCompanies_asset__pkwLU video {
    transform: translateX(9999px)
}

.LatestNews_wrapper__AiZ0m {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: ". content ."
}

@media(max-width: 48em) {
    .LatestNews_wrapper__AiZ0m {
        grid-template-columns:1fr;
        grid-template-areas: "content"
    }
}

.LatestNews_headline__F5IUx {
    grid-area: content;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.LatestNews_headline__F5IUx+.LatestNews_list__d0OVx {
    grid-row: 2;
    margin-top: var(--sp6)
}

.LatestNews_list__d0OVx {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-gap: var(--sp6)
}

@media(max-width: 48em) {
    .LatestNews_list__d0OVx {
        grid-template-columns:1fr
    }
}

.LatestNews_item__W_XxO a {
    text-decoration: none;
    color: currentColor
}

.LatestNews_text__i2T4C {
    margin-top: var(--sp4)
}

.LatestNews_title__uspY8 {
    margin-top: var(--sp1)
}

.LatestNews_date__lh_g8 {
    opacity: .8;
    display: flex;
    align-items: center
}

.LatestNews_date__lh_g8 hr {
    width: 16px;
    height: 1px;
    background: currentColor;
    margin: 0 var(--sp2);
    border: none
}

.ThemesSection_container__IgGym {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-column-gap: var(--gutter);
    column-gap: var(--gutter)
}

@media(max-width: 80em) {
    .ThemesSection_container__IgGym {
        grid-template-columns:5fr 7fr
    }
}

@media(max-width: 48em) {
    .ThemesSection_container__IgGym {
        grid-template-columns:1fr
    }
}

.ThemesSection_text__Oe3jw {
    grid-column: 1
}

.ThemesSection_grid__GlLeZ {
    grid-column: 2
}

@media(max-width: 48em) {
    .ThemesSection_grid__GlLeZ {
        grid-column:1;
        margin-top: var(--sp6)
    }
}

.ThemesSection_description__tBNmV {
    margin-top: var(--sp6);
    color: var(--navy80)
}

.Accordion_container__OV506 {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.Accordion_title-wrapper__L3wWf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    gap: var(--sp4)
}

.Accordion_title-wrapper__L3wWf:focus {
    box-shadow: 0 0 0 1px var(--text-color);
    border-radius: var(--rad1)
}

.Accordion_icon__cNiYt {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);
    transition: transform .3s ease-in-out;
    transform: rotate(0deg)
}

.Accordion_content-wrapper__HzMWh {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    transition: height .3s ease-in-out
}

.Accordion_content__il9x9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.Accordion_show-all__PL1qw {
    align-self: center;
    margin-top: var(--sp7)
}

.Accordion_opened__2WVTq .Accordion_icon__cNiYt {
    transform: rotate(180deg)
}

.ThemeCard_item__8udnp {
    text-decoration: none;
    color: var(--navy)
}

.ThemeCard_card__ParH0 {
    background: var(--navy);
    width: 100%;
    height: 0;
    padding-top: 66.6666666667%;
    position: relative;
    overflow: hidden
}

.ThemeCard_illustration__VkucT {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    opacity: 1;
    transition: opacity .3s ease-in-out;
    width: 50%
}

.ThemeCard_name__qiz9A {
    margin-top: var(--sp3)
}

.ThemeCard_description__0xbp_ {
    position: absolute;
    inset: 0;
    margin: var(--sp4);
    overflow: hidden;
    color: var(--white);
    opacity: 0;
    transition: opacity .3s ease-in-out
}

@media(hover: hover)and (pointer:fine) {
    .ThemeCard_card__ParH0:hover .ThemeCard_illustration__VkucT {
        opacity:0
    }

    .ThemeCard_card__ParH0:hover .ThemeCard_description__0xbp_ {
        opacity: 1
    }
}

.ThemeCardGrid_cards__I2PSx {
    display: grid;
    --columns: 3;
    grid-template-columns: repeat(var(--columns),1fr);
    grid-column-gap: var(--sp4);
    column-gap: var(--sp4);
    grid-row-gap: var(--sp7);
    row-gap: var(--sp7)
}

@media(max-width: 80em) {
    .ThemeCardGrid_cards__I2PSx {
        --columns:2
    }
}

@media(max-width: 48em) {
    .ThemeCardGrid_cards__I2PSx {
        --columns:1
    }
}
